      

      <!--Section: portfolio gifs-->
      <section id="port-section">

            <h2 class="my-5 h3 text-center">Portfolio</h2>
            <section id="port-list">
                  <app-works></app-works>
            </section>
            <section id="port-display-section" class="hidden">
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-outline-secondary float-right" id="port-return" ripple-radius>
                    Close <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="sm-spacer"></div>
              <div class="row">
                <div class="col-12">
                  <app-works-gif></app-works-gif>
                </div>
              </div>
            </section>
    
    
          </section>
          <!--Section: portfolio gifs-->
