/* You can add global styles to this file, and also import other style files */


@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .view {
      height: 650px;
    }
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #1C2331 !important;
    }
  }
  /* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
  html,
  body,
  header,
  .view {
    height: 100%; }
  
  @media (max-width: 740px) {
    .full-page-intro {
      } }
  
  /* Half Page Carousel itself*/
  .carousel {
    height: 50%; }
    .carousel .carousel-inner {
      height: 100%; }
      .carousel .carousel-inner .carousel-item,
      .carousel .carousel-inner .active {
        height: 100%; }
  
  /* Adjustment for mobile devices*/
  @media (max-width: 776px) {
    .carousel {
      height: 100%; } }
  
  /* Navbar animation */
  .navbar {
    background-color: rgba(0, 0, 0, 0.3); }
  
  .top-nav-collapse {
    background-color: #1C2331; }
  
  /* Adding color to the Navbar on mobile */
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #1C2331; } }
  
  /* Footer color for sake of consistency with Navbar */
  .page-footer {
    background-color: #1C2331; }
  .hor-spacer{
    width:1em;
  }
  .spacer{
    height:45px;  
  }
  .xl-spacer{
    height:75px;  
  }
  .sm-spacer{
    height:25px;
  }
  .hidden{
    display: none;
  }
  .show-cursor{
    cursor: pointer;
  }
  .emph{
    color: #f82c70;
    /* color: #ff53e8; */
  }
  /* Circle  hover effect for port pics*/
  .hover12 {
      position: relative;
  }
  .hover12::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: block;
      content: '';
      width: 0;
      height: 0;
      background: rgba(255,255,255,.2);
      border-radius: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
  }
  .hover12:hover::before {
      -webkit-animation: circle .75s;
    animation: circle .75s;
    cursor: pointer;
  }
  @-webkit-keyframes circle {
      0% {
          opacity: 1;
      }
      40% {
          opacity: 1;
      }
      100% {
          width: 200%;
          height: 200%;
          opacity: 0;
      }
  }
  
  #canvas{
    background-color: #2c343f;
    width: 100% !important;
    height: 100% !important;		
  }