<span id="portSelected" class="hidden"></span>
<!--First row-->
<div class="row features-small mb-5 mt-3 wow fadeIn">

  <!--First column-->
  <div class="col-md-4"  *ngFor="let work of works | async">
    <!-- Card Narrower -->
    <div class="card card-cascade narrower" >

      <!-- Card image -->
      <div class="view view-cascade overlay hover12"   (click)="showGif(work.order)" id="port-{{work.order}}">
        <img class="card-img-top show-cursor port-icon" src="assets/img/{{work.image}}.png" alt="Card image cap">
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade">

        <!-- Label -->
        <!-- Title -->
        <h4 class="font-weight-bold card-title">{{ work.name}}</h4>
        <!-- Text -->
        <p class="card-text">
          {{work.desc}}
        </p>
      </div>

      <!-- Card footer -->
      <div class="card-footer text-muted text-center">
        {{work.year}}
      </div>
    </div>
    <div class="spacer"></div>
    <!-- Card Narrower -->
  </div>
</div>
